<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div class="buttons-container">
      <div class="button-row">
        <ion-button> 1 </ion-button>
        <ion-button> 2 </ion-button>
        <ion-button> 3 </ion-button>
        <ion-button> + </ion-button>
      </div>
      <div class="button-row">
        <ion-button> 4 </ion-button>
        <ion-button> 5 </ion-button>
        <ion-button> 6 </ion-button>
        <ion-button> - </ion-button>
      </div>
      <div class="button-row">
        <ion-button> 7 </ion-button>
        <ion-button> 8 </ion-button>
        <ion-button> 9 </ion-button>
        <ion-button> x </ion-button>
      </div>

      <div class="button-row">
        <ion-button> 1 </ion-button>
        <ion-button> 2 </ion-button>
        <ion-button> 3 </ion-button>
        <ion-button> / </ion-button>
      </div>
      <div class="button-row">
        <ion-button class="egale"> = </ion-button>
      </div>

    </div>

  </div>
</ion-content>
